<div class="row">
    <div class="small-12 columns">
        <h1>Blog</h1>
        <ul class="small-block-grid-1">
            <li ng-repeat="blogpost in posts | orderBy: -date| limitTo: 6"
                ng-click="goto(blogpost.slug)">
                <div class="story-feature">
                    <h3 ng-bind-html="blogpost.title.rendered"></h3>
                    <p class="story-date">
                        {{blogpost.date | date: "dd/MM/yyyy"}}
                    </p>
                    <div ng-bind-html ="blogpost.excerpt">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
