<div class="row">
    <div class="small-12 medium-11 medium-centered columns">
        <h1 id="post-title" ng-bind-html="currentStory.title"></h1>
        <div id="post-meta">
            <div class="story-date">{{currentStory.date}}</div>
            <div class="story-author">
                Raconté par {{currentStory.author.name}}
            </div>
            <div class="post-tags">
                <i class="icon-tag"></i>
                <span ng-repeat="tag in currentStory.tags">
                    <small>{{tag}}</small>
                </span>
            </div>
        </div>
        <sound-player ng-if="currentStory.sound" url=currentStory.sound>
        </sound-player>
        <img ng-if="currentStory.image.url"
             interchange="[{{img.small}}, (small)],
                          [{{img.medium}}, (medium)]">
        <div class="post-content" ng-bind-html="currentStory.content | nl2br"></div>
        <social story=currentStory></social>
        <comments currentStory="currentStory"></comments>
    </div>
</div>
